* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

label {
    display: inline-block;
    margin: 5px 0;
    vertical-align: middle;
}

span {
    display: inline-block;
    width: 30px;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    vertical-align: middle;
}

.switch {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border: solid 2px rgb(138, 138, 138);
    border-radius: 10px;
}

input:checked+.switch {
    background: aqua;
    box-shadow: inset 0 0 2px #fff;
}